################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoginAndSignUpPage/bin/Debug/net6.0
/LoginAndSignUpPage/.vs/LoginFormASPCore6/FileContentIndex
/LoginAndSignUpPage/obj
/LoginAndSignUpPage/.vs/ProjectEvaluation
/LoginAndSignUpPage/.vs/LoginFormASPCore6/v17/.futdcache.v2
/.vs/VSWorkspaceState.json
/LoginAndSignUpPage/bin/Debug/net8.0
/LoginAndSignUpPage/.vs/LoginFormASPCore6/v17
/LoginAndSignUpPage/.vs/LoginFormASPCore6/DesignTimeBuild/.dtbcache.v2
