
@{
    ViewData["Title"] = "Dashboard";
}
<script>
    var divSidebar=document.getElementById("sidebar");
    if(divSidebar!=null){
        divSidebar.style.display="block";
    }
     var top_navbar=document.getElementById("top_navbar");
    if(top_navbar!=null){
              top_navbar.style.visibility = 'visible';

    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .full-page-image {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 使图片保持比例并覆盖整个容器 */
        }
    </style>
</head>
<body>
    <img style="width:1090; height:810;" src="~/images/Dashboard_Info-C.png" alt="Full Page Image" class="full-page-image">
</body>
</html>